@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: white;
  width: 0.2rem;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
}